body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: chocolate;
    background-repeat: no-repeat;
    background-size: 1000px;
    background-image: url(assets/images/backgroundGemini2.png);
    background-size: 400px;
    background-position: right;
}

.gridDiv {
    display: grid;
    height: 100%;
    box-sizing: border-box;
    grid-template-columns: 15% 85%;
    grid-template-rows: 17% 23% 53% 7%;
}

button {
    font-size: 17px;
    cursor: pointer;
    z-index: 10;
}

button:hover {
    background-color: rgb(158, 153, 188);
}

@font-face {
    font-family: Leky;
    src: url(assets/fonts/Leky\ Calgria.otf);
}

header {
    grid-column: span 2;
    font-family: Leky;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    background: linear-gradient(to bottom, darkcyan 93%, chocolate 7%);
}

main {
    grid-column: span 2;
}

.questionsTable {
    padding-left: 20px;
    font-size: 20px;
}

.submitButton {
    align-items: center;
    margin-left: 20px;
}

.tableList {
    margin-left: 0vw;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.7);
}

#container {
    display: flex;
    max-height: 300px;
    overflow-y: auto;
    justify-content: center;
}

#container::-webkit-scrollbar {
    display: none;
}

td, th {
    padding: 5px;
}

.trashImg {
    width: 13px;
}

.hoverList {
    display: none;
    font-size: 15px;
    background-color: rgb(255, 255, 255, 0.8);
}

th {
    font-size: 20px;
    font-weight: bolder;
}

.headerList {
    padding-top: 30px;
    text-align: center;
    font-family: Leky;
    font-size: 13px;
}

.headerList:hover+.hoverList {
    display: block;
}

aside {
    background-image: url(assets/images/back_pack.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.hand {
    width: 25px;
    padding-top: 22px;
    padding-left: 80px;
    margin: 0;
}

footer {
    grid-column: span 2;
    text-align: center;
    margin: auto;
    font-size: 13px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: rgb(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 8px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
}

.equipment, .amount,.purchase {
    margin-bottom: 10px;
}

/* Media query for even smaller screens */
@media screen and (max-width: 768px) {
    body {
        height: auto;
        overflow: auto;
        background-size: 200px;
        background-position-x: 20px;
        background-position-y: 300px;
    }

    /* main {
        grid-column: span 3;
    } */

    input, select {
        width: 100px;
    }

    header {
        font-size: 22px;
        text-align: center;
        margin-bottom: 15px;
        background: linear-gradient(to bottom, darkcyan 95%, chocolate 5%);
    }

    .questionsTable {
        padding-top: 15px;
        font-size: 18px;
    }

    button {
        margin-bottom: 10px;
    }

    .tableList {
        margin-top: 50px;
    }

    select {
        direction: ltr;
    }

    .headerList,.hand {
        display: none;
    }

    aside {
        background-image: none;
    }

    footer {
        margin-top: 350px;
        font-size: 12px;
    }
}